# the virtual environment - everybody makes their own with requirements.txt
.venv/
venv/
myenv/
env/

# python
__pycache__/
*.py[cod]

# pycharm
.idea/
*.iml

# windows / mac junk
Thumbs.db
desktop.ini
.DS_Store

#Noone gets my trophies
save_state.json
highscore.json
.eternalmalice/

# my own backups
*.bak
